<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>

<body style="text-align: center">

    <a href = '{{url_for('gdisconnect') }}'>LOGOUT</a>
    
    <h1>RESTAURANTS</h1>

    
    <a href = '{{url_for('newRestaurant') }}'>Create a new Restaurant</a>




    {% for i in restaurants %}

    <div class="lists">

        <p>{{i.name}}</p>

            <a href='{{url_for('restaurantMenu', restaurant_id = i.id) }}'>View Menu</a>

            </br>

            <a href = '{{url_for('editRestaurant', restaurant_id = i.id) }}'>Edit Restaurant Name</a>

            </br>
            <a href = '{{url_for('deleteRestaurant', restaurant_id = i.id) }}'>Delete Restaurant</a>

        </br>
        </div>

    </div>

    {% endfor %}
    
    

</body>

</html>